body {
  color: #7D7D7D;
  background-color: #EBEBEB;
  font-family: 'Revalia', cursive;
  line-height: 1.6em;
  background-image: url('https://media.giphy.com/media/14aZED8nOcL98A/giphy.gif');
}

h1 {
  color: red;
  font-weight: bold;
  line-height: 0.5em;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  color: #272822;
  font-size: 28px;
  line-height: 1em;
}

h3 {
  color: #272822;
  line-height: 0.8em;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #FC586C;
}

a:hover {
  color: #2A3740;
}

.card-white {
  background-color: white;
  box-shadow: 0px 1.5px 2.5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  width: 550px;
}

.text-center {
  text-align: center;
}
.a-e {
  width: 20px;
  height: 20px;
}
.text-inline {
  padding-left: 0px;
}
.text-inline li {
  display: inline-block;
  padding: 20px;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid #FC586C;
  width: 150px;
  height: 150px;
}
.img-distance {
  padding-top: 20px;
}
.button {
  background-color: #FC586C;
  color: white;
  padding: 10px;
  margin: auto;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 1.5px 2.5px 0px rgba(0, 0, 0, 0.2);
}

    .awesome {
/*      font-family: futura;
      font-style: italic;

      width:100%;

      margin: 0 auto;
      text-align: center;
*/
/*      color:#313131;
      font-weight: bold;
      position: absolute;*/
      -webkit-animation:colorchange 1s infinite alternate;
    }
    @-webkit-keyframes colorchange {
      0% {
        color: blue;
      }
      10% {
        color: #8e44ad;
      }
      20% {
        color: #1abc9c;
      }
      30% {
        color: #d35400;
      }
      40% {
        color: blue;
      }
      50% {
        color: #34495e;
      }
      60% {
        color: blue;
      }
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      90% {
        color: #2980b9;
      }

      100% {
        color: pink;
      }
    }
